<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost size="tiny" (click)="toggle()">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <div class="title">
        Stargit 2.0
    </div>
    <button class="themeSwitch" nbTooltip="Change the Theme" ghost nbButton size="tiny"  shape="round" (click)="changeTheme()" right>
      <nb-icon icon={{icon}}></nb-icon>
    </button>
    <!-- <nb-search type="curtain" end></nb-search> -->
  </nb-layout-header>
  <nb-sidebar state="compacted" tag="left">
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <ng-progress></ng-progress>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
      Made with ♡ by Argex
  </nb-layout-footer>

</nb-layout>