<nb-layout>

  <nb-layout-header fixed>
    <button nbButton ghost size="tiny" (click)="toggle()">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <h3>Stargit</h3>
    <!-- <button ghost nbButton>Home</button> -->
    <button ghost nbButton size="tiny" (click)="changeTheme()" right><nb-icon icon={{icon}}></nb-icon></button>
    <!-- <nb-search type="curtain" end></nb-search> -->
  </nb-layout-header>
  <nb-sidebar tag="left">
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>

  </nb-layout-footer>

</nb-layout>