@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((
  link-text-color: faf7ff
), default, default);

$nb-themes: nb-register-theme((
  link-text-color: color-primary-100
), dark, dark);
