@import "../../themes";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}



.filter {
  margin-bottom: 0.67rem;
}

.language {
  margin-right: 10px;
}

.repoName {
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
}

.repoName:first-letter {
  text-transform: uppercase;
}

.avatar {
  vertical-align: middle;
  margin-right: 5px;
  width: 30px;
}

.icon {
  width: 1em;
  margin-right: 3px;
  vertical-align: middle;
}

.starCount {
  display: inline-block;
}

.repoCards {
  max-width: 100%;
}



/*
@media (min-width: 576px) {
  .repoCards {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .repoCards {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .repoCards {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .repoCards {
    max-width: 1140px;
  }
}
*/
